h1, h3 {
  text-align: center
}
input {
  width: 100px;
  border-radius: 10px;
}

button, #start_game{
  width: 40px;
  font-size: 12px;
  width: 67px;
  background: #c2bfbf;
  border-radius: 5px;
  margin-top: 10px;
}

#restart_button{
width: 200px;
}

#restart{
display: flex;
justify-content: space-around;
}

.show_plays {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

#user_play, #computer_play{
  /* border: 1px solid black; */
  width: 200px;
  height: 200px;
}

.played_icons {
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
}

.action_buttons {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.game_button {
  width: 200px;
  height: 200px;
}
#results {
  width: 90%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

#player_win{
  background-color: green;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 30px;
  font-family: sans-serif;
}

#computer_win{
  background-color:red;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 30px;
  font-family: 
}

#draw{
  background-color: yellow;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 30px;
  font-family: 
  
}

.hidden {
  display: none !important;
}

.win_rate{
  display: flex;
  justify-content: space-around;
}

.red{
  background-color: red;
}

#vs{
  padding-top: 20px;
  width: 150px;
  height: 150px;
}